/* .main{
    display: grid;
    grid-template-areas:
    "head head head"
    "side content content" ;
    grid-template-rows: 50px auto;
}
.head{
    grid-area: head;
}
.side{
    grid-area: side;
}
.content{
    grid-area: content;
} */
